body
{
	background-color : rgb(102,1,137);
}
.title
{
	position:relative;
	margin-left : -100px;
	width : 400px;
}
.cadre
{
	margin-left : 100px;
	height : 1200px;
	width : 1050px;
	border : 3px solid black;
	border-radius : 10px;
}
h1
{
	border : 3px solid black;
	border-radius : 10px;
	margin-top : 50px;
	color:rgb(255,215,0);

}
.menu
{
	margin-top : 50px;
	height : 50px;
}
.menu a
{
	padding-left : 20px;
	margin-right :20px;
	text-decoration : none;
	text-transform : uppercase;
	color : rgb(255,215,0);
}
.add_panier
{
	border-radius:4px;
	border:1px solid black;
	font-size:12px;
	position:absolute;
	right : 5px;
	bottom : 5px;
	background-color: rgb(255,215,0);


}
.shadow
{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.7);
	transition: opacity 500ms;
	visibility: hidden;
	opacity: 0;
	z-index: 2;
}
li
{
	margin-right:10px;
	font-family: comic;
	font-size : 18px;
	border : 2px solid black;
	border-radius : 5px;
	display : inline;
}
.connexion
{
	display: block;
	margin: 0 auto;
	width: 500px;
	background-color: white;
	padding: 30px;
	border-radius: 10px;
	border: 2px solid #ddd;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.end
{
	margin-top: 200px;
	margin-left: 500px;
	float:center;
	width: 500px;
	background-color: white;
	border-radius: 10px;
	border: 2px solid #ddd;
	transform: translate(-50%, -50%);
}
.nodisplay
{
    display: none;
}
.quit
{
	position:absolute;
	right : 15px;
	top : 15px;
}
.admin
{
	display: block;
	margin: 0 auto;
	width: 510px;
	background-color: orange;
	padding: 20px;
	border-radius: 10px;
	border: 2px solid black;
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
}
#login:target
{
	visibility:visible;
	 opacity: 1;
}
#register:target
{
  visibility: visible;
  opacity: 1;
}
.form {
  position: relative;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}
.carte
{
	float : left;
	margin-top: 100px;
	height : 335px;
	width: 210px;
	border : 3px solid black;
	border-color: rgb(255,215,0);
}
.carte2
{
	float : left;
	margin-top: 100px;
	height : 335px;
	width: 210px;
	border : 3px solid black;
	border-color: rgb(255,215,0);

}
h2
{
	margin-top: 0px;
	margin-bottom : -20px;
	color:rgb(255,215,0);
}
h3
{
	color: red;
	margin-bottom : 2px;
}
.slideshow-container {
	width: 300px;
	height : 100px;
	position: relative;
	margin: auto;
}

/* Next & previous buttons */
.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	margin-top: 0px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.1s ease;
	border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next
{
	right:0;
	border-radius: 3px 0 0 3px;
}
.prev
{
	left:0;

}
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover
{
	background-color: rgba(0,0,0,0.8);
}

/* The dots/bullets/indicators */
.dot
{
	height: 13px;
	width: 13px;
	margin:  10px 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.1s ease;
}

.active, .dot:hover
{
	background-color: #717171;
}

/* Fading animation */
.fade
{
	animation-name: fade;
	animation-duration: 1s;
}

@-webkit-keyframes fade
{
	from {opacity: .4} 
	to {opacity: 1}
}

@keyframes fade
{
	from {opacity: .4} 
	to {opacity: 1}
}
