body
{
	background-image : url(http://i.imgur.com/thSM210.jpg);
	background-size : 100% 100%;
}
table
{
	margin-top : 20px;
	margin-left: 10%
	margin-right : 10%;
	width : 85%;
	height : 85%;
	border-collapse : separate;
}
div
{
	font-size : 0.9vw;
}
td
{	
	width : 3%;
	height : 3%;
	border : 2px transparancy;
}
.full
{
	border : 2px solid black;
	opacity: 0.9;
}
h1
{
	font-size : 2vw;
	text-align: center;
	color : green;
}
b
{
	font-size: 1.5vw;
}
